* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Marcellus', serif;
    background: linear-gradient(0deg, rgba(27, 205, 229, 0.5), rgba(19, 189, 121, 0.5));
    background-attachment: fixed;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.search {
    margin-top: 5%;
    margin-bottom: 4%;
}

.search input {
    background: white;
    outline: none;
    border: none;
    border-radius: .25rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

.search input::placeholder {
    font-size: 1.2rem;
    color: rgba(24, 24, 24, 0.4);
}

.container {
    display: flex;
    border: .125rem solid black;
    font-size: 1.2rem;
}

.property {
    border-right: .125rem solid black;
}

.property h3,
.result h3 {
    padding: .25rem .5rem 0 .5rem;
    border-bottom: .125rem solid black;
}

.property p,
.result p {
    padding: .2rem .5rem 0 .5rem;
}

.result {
    overflow: hidden;
    max-width: 50rem;
}

.property p:last-child,
.result p:last-child {
    padding-bottom: .25rem;
}

#upper {
    text-transform: uppercase;
}

#lower {
    text-transform: lowercase;
}

#capitalized {
    text-transform: capitalize;
}